<!DOCTYPE html>
<html  xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-default" role="navigation" th:fragment="header">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="">金视和</a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">首页管理<b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="">幻灯片管理</a></li>-->
                        <!--<li><a href="">合作单位管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">产品管理<b class="caret"></b></a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="">产品管理</a></li>-->
                        <!--<li><a href="">产品类型管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <li><a href="/web/index">用户管理</a></li>
                <li><a href="/web/sign">签字信息管理</a> </li>
                <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown">-->
                        <!--关于我们管理 <b class="caret"></b>-->
                    <!--</a>-->
                    <!--<ul class="dropdown-menu">-->
                        <!--<li><a href="">荣誉管理</a></li>-->
                        <!--<li><a href="">公司资质管理</a></li>-->
                        <!--<li><a href="">新闻管理</a></li>-->
                        <!--<li class="divider"></li>-->
                        <!--<li><a href="">招聘管理</a></li>-->
                    <!--</ul>-->
                <!--</li>-->
                <!--<li><a href="">退出登陆</a></li>-->
            </ul>
        </div>
    </div>
</nav>
</body>
</html>