<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lzdn.examine.dao.VersionDao">
    <select id="selectNew" resultType="com.lzdn.examine.entity.VersionEntity">
        SELECT * FROM app_version WHERE version_code=(
          SELECT MAX(version_code) as version_code from app_version)
    </select>
</mapper>